
{{#data}}
	<div class="index-list">
		<div class="fl">
			<img src="{{imgUrl}}" alt="" width="64" height="64">
		</div>
		<div class="fr index-box">
			<div class="index-content f14">
				{{comText}}
			</div>
			<div class="index-comment">
				<div class="fl">
					<a href="#">{{tags}}</a><a href="#">美食</a>
				</div>
				<div class="fr"><a href="#">热度(88)</a><a href="#">评论(88)</a><a href="#">分享</a><a href="#">推荐</a><a href="#" class="comment-star"></a></div>
			</div>
             
            <div class="comment-hot">
            	
            </div>
            <div class="comment-box">
            	
            </div>
		</div>
	</div>
{{/data}}