<div class="store-con" id="storCon">
    <!-- store list [[ -->
    <div class="store-list">
        {{if total == 0 }}
            <div class="no-store">
                <img src="/project/store/images/storeico_noinfo.gif" class="face-apology" />
                <strong>非常抱歉，本地区暂无自提点和门店信息！</strong>
            </div>
        {{else}}
            {{each data as val key}}
            <div class="store-item">
                <div class="store-item-tit">
                    <h2><a href="/{{ val.bwStoreNo }}.html" target="_blank">{{ val.storeName }}</a></h2>
                    {{each val.labelInfoList}}
                        {{if $value.labelName == '停车场'}}
                            <i class="storico storico-park"></i>
                        {{else if $value.labelName == '苏宁互联营业厅'}}
                            <i class="storico storico-hall"></i>
                        {{else if $value.labelName == '自提点'}}
                            <i class="storico storico-point"></i>
                        {{/if}}
                    {{/each}}
                </div>
                <div class="store-detail">
                    <dl>
                        <dt>门店地址：</dt>
                        <dd>{{ val.storeAddress }}</dd>
                    </dl>
                    <dl>
                        <dt>联系电话：</dt>
                        <dd>{{ val.tel }}</dd>
                    </dl>
                    <dl>
                        <dt>营业时间：</dt>
                        <dd><span>周一至周五 {{ val.workdayBeginTime }}-{{ val.workdayEndTime }}</span><span>周六至周日 {{ val.weekendBeginTime }}-{{ val.weekendEndTime }}</span></dd>
                    </dl>
                </div>
                <div class="store-more"><a href="/{{ val.bwStoreNo }}.html" target="_blank" class="detail">查看详情<i>&gt;</i></a></div>
            </div>
            {{/each}}
        {{/if}}
        <!-- end if-->
    </div>
    <!-- ]] store list -->
</div>
{{if page.total !=0  && page.total !=1 }}
<div class="sn-page">
    {{if page.total == 1 || page.current == 1 }}
        <a href="javascript:void(0)" class="sn-page-prev sn-page-prev-disable"><i class="sn-arrow-right"></i><span>上一页</span></a>
        <a href="javascript:void(0)" class="sn-page-item sn-page-current">1</a>
    {{else}}
        <a href="javascript:void(0)" class="sn-page-prev"><i class="sn-arrow-right"></i><span>上一页</span></a>
        <a href="javascript:void(0)" class="sn-page-item">1</a>
    {{/if}}
    {{each page.list}}
        {{if page.list.length < 7 }}
            {{if $value == page.current}}
                <a href="javascript:void(0)" class="sn-page-item sn-page-current">{{$value}}</a>
            {{else}}
                 <a href="javascript:void(0)" class="sn-page-item">{{$value}}</a>
            {{/if}}
        {{else if page.list.length == 7 }}
            {{if page.current < 6}}
                {{if $value == page.current}}
                    <a href="javascript:void(0)" class="sn-page-item sn-page-current">{{$value}}</a>
                {{else}}
                    <a href="javascript:void(0)" class="sn-page-item">{{$value}}</a>
                {{/if}}
            {{else}}
                {{if $value-1 == page.prev}}
                    <a href="javascript:void(0)" class="sn-page-item">2</a>
                    <a href="javascript:void(0)" class="sn-page-item">3</a>
                    <span class="sn-page-ellipsis">...</span>
                    <a href="javascript:void(0)" class="sn-page-item">{{$value-1}}</a>
                {{/if}}
                {{if $value == page.current}}
                    <a href="javascript:void(0)" class="sn-page-item sn-page-current">{{$value}}</a>
                {{else}}
                    {{if $value > page.prev}}
                        <a href="javascript:void(0)" class="sn-page-item">{{$value}}</a>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{else}}
            {{if page.current < 6}}
                {{if $value == page.current}}
                    {{if $value == 5}}
                        <a href="javascript:void(0)" class="sn-page-item sn-page-current">{{$value}}</a>
                        <a href="javascript:void(0)" class="sn-page-item">{{$value+1}}</a>
                    {{else}}
                        <a href="javascript:void(0)" class="sn-page-item sn-page-current">{{$value}}</a>
                    {{/if}}
                {{else if $value < 6}}
                        <a href="javascript:void(0)" class="sn-page-item">{{$value}}</a>
                {{else}}
                    {{if $value == page.total}}
                        <span class="sn-page-ellipsis">...</span>
                        <a href="javascript:void(0)" class="sn-page-item">{{$value}}</a>
                    {{/if}}
                {{/if}}
            {{else}}
                {{if $value - 1 == page.prev}}
                    <a href="javascript:void(0)" class="sn-page-item">2</a>
                    <a href="javascript:void(0)" class="sn-page-item">3</a>
                    <span class="sn-page-ellipsis">...</span>
                    <a href="javascript:void(0)" class="sn-page-item">{{$value-1}}</a>
                {{/if}}
                {{if $value == page.current}}
                    <a href="javascript:void(0)" class="sn-page-item sn-page-current">{{$value}}</a>
                    {{if $value < page.total - 1 }}
                            <a href="javascript:void(0)" class="sn-page-item">{{$value + 1}}</a>
                            <span class="sn-page-ellipsis">...</span>
                            <a href="javascript:void(0)" class="sn-page-item">{{page.total}}</a>
                    {{else if $value == page.total-1}}
                        <a href="javascript:void(0)" class="sn-page-item">{{$value + 1}}</a>
                    {{/if}}
                {{else}}

                {{/if}}
            {{/if}}
        {{/if}}
    {{/each}}

    {{if page.total == page.current}}
        <a href="javascript:void(0)" class="sn-page-next sn-page-next-disable">
            <span>下一页</span><i class="sn-arrow-left"></i>
        </a>
    {{else}}
        <a href="javascript:void(0)" class="sn-page-next">
            <span>下一页</span><i class="sn-arrow-left"></i>
        </a>
    {{/if}}
    
</div>
{{/if}}